:host {
    
    margin-top: 2rem;
  }
  
  mat-spinner {
    margin: auto;
  }
  
  mat-paginator {
    margin-top: 1rem;
  }
  
  .info-text {
    text-align: center;
    font-weight: bold;
  }
  
  .post-image {
    width: 100%
  }
  
  .post-image img {
    width: 50%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
  }
  
  .author {
    text-align: right;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    width: fit-content;
    float: right;
    clear: right;
  }

  .acb {
    line-height: 10px;
    width: 20px;
    text-align: center;
  }

  .btn {
    padding: 0;
    border: none;
    background: 8px;
  }

