
<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="post && postAuthor">
  <h1 class="title"> {{post.title}} </h1>
  <div class="post-image">
    <img [src]="post.imagePath" [alt]="post.title">
  </div>
  <p>{{ post.content }}</p>
  <div class="author">
    Created by: <a [routerLink]="['/authors', post.creator]">{{postAuthor}}</a>
  </div>
  <br>
</mat-accordion>

<mat-list>
  <mat-list-item *ngFor="let comment of comments; let i = index">
      <p mat-line class="comment">  {{comment.comment}}  </p>
      <p mat-line class="ml" id="cmt">--------{{comment.authorName}}, {{comment.createdDate}} &#xa9;</p> 
       <p></p>
       <br/>
      
      <div class="cmt_" id="{{i}}" >
        <br/>
          <button class="btn" id="{{i+'b1'}}" (click)="toggle($event)" > &#x270d; </button>
          <br>
        <input id="{{i+'c1'}}" class="ic" matInput #comment_ name="comment_" ngModel matInput placeholder="Enter comment" #nameInput="ngModel">
          
        <button id="{{i+'c2'}}" class="acb" mat-raised-button (click)="onAddComment(comment_.value, commentForm)"> Comment</button>
      </div>

  </mat-list-item>
</mat-list>

<mat-card>
<form *ngIf="!isLoading && userIsAuthenticated" #commentForm="ngForm"> 
  <mat-form-field >
    <input matInput #comment name="comment" ngModel matInput placeholder="Enter comment" #nameInput="ngModel" required minlength="3">
    <mat-error *ngIf="nameInput.invalid">Please enter a valid comment.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="button"  (click)="onAddComment(comment.value, commentForm)">Comment</button>
</form>
</mat-card>
<p *ngIf="comments.length <= 0 && !isLoading">No comments! Be the first one to comment. </p>
<p *ngIf="!userIsAuthenticated">Please login to add a comment.</p>
