<!--
<script>
  function myFunction() {
    var x = document.getElementById("cmt_btn");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>
  -->

<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="post && postAuthor">
  <h1 class="title"> {{post.title}} </h1>
  <div class="post-image">
    <img [src]="post.imagePath" [alt]="post.title">
  </div>
  <p>{{ post.content }}</p>
  <div class="author">
    Created by: <a [routerLink]="['/authors', post.creator]">{{postAuthor}}</a>
  </div>
  <br>
</mat-accordion>

<mat-list>
  <mat-list-item *ngFor="let comment of comments">
      <p mat-line class="comment">  {{comment.comment}}  </p>
      <br> <p mat-line id="cmt" style="color:slategrey">--------{{comment.authorName}}, <font size="2">{{comment.createdDate}}</font></p> 
      <br>  
      <button (click)="toggle()" id="bt">Try it</button>
      <div id="cmt_btn" *ngIf="show">
          <br>
        <input matInput #comment_ name="comment_" ngModel matInput placeholder="Enter comment" #nameInput="ngModel">
          <br>
        <button mat-raised-button color="primary" type="button"  (click)="onAddComment(comment_.value, commentForm)"> Comment</button>
      </div>

  </mat-list-item>
</mat-list>

<mat-card>
<form *ngIf="!isLoading && userIsAuthenticated" #commentForm="ngForm"> 
  <mat-form-field >
    <input matInput #comment name="comment" ngModel matInput placeholder="Enter comment" #nameInput="ngModel" required minlength="3">
    <mat-error *ngIf="nameInput.invalid">Please enter a valid comment.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="button"  (click)="onAddComment(comment.value, commentForm)">Comment</button>
</form>
</mat-card>
<p *ngIf="comments.length <= 0 && !isLoading">No comments! Be the first one to comment. </p>
<p *ngIf="!userIsAuthenticated">Please login to add a comment.</p>
